* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background: #ffffff;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    background: #2b2a2a;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 20px;
}

.hero img{
    width: 300px;
    height: 200px; 
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
    margin-bottom: 20px;
}

.cta-button {
    background: #ff7f50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

.cta-button:hover {
    background: #ff6347;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.feature {
    margin: 20px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
